<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sistema.Presentacion.My.MySettings.cn" connectionString="Data Source=DESKTOP-HVENJ6O\SQLEXPRESS;Initial Catalog=dbsistema;User ID=sa;Password=123a"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>